@model finder_ui.Models.EditProfileViewModel

<div class="container">
    <div class="row">
        <div class="col align-self-center">
            @using (Html.BeginForm("EditProfileInformation", "UserProfile", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="userEmail">Email</label>
                    @Html.HiddenFor(vm => vm.id)
                    @Html.TextBoxFor(vm => vm.userEmail, new { @class = "form-control text-center", @placeholder = "Asdasd@hotmail.com" })
                </div>
                <div class="form-group">
                    <label for="userCity">Stad</label>
                    @Html.TextBoxFor(vm => vm.userCity, new { @class = "form-control text-center", @placeholder = "Stad" })

                </div>
                <div class="form-group">
                    <label for="userAddress">Adress</label>
                    @Html.TextBoxFor(vm => vm.userAddress, new { @class = "form-control text-center", @placeholder = "Adress" })

                </div>
                <div class="form-group">
                    <label for="userZipCode">Postnummer</label>
                    @Html.TextBoxFor(vm => vm.userZipCode, new { @class = "form-control text-center", @placeholder = "12345" })

                </div>
                <div class="form-group">
                    <label for="userPhoneNumber">Telefonnummer</label>
                    @Html.TextBoxFor(vm => vm.userPhoneNumber, new { @class = "form-control text-center", @placeholder = "Telefonnummer" })

                </div>
                <div class="form-group">
                    <label for="userProfilePicture">Profilbild</label>
                    @Html.TextBoxFor(vm => vm.userProfilePicture, new { @class = "form-control text-center", @placeholder = "Profilbild", @type = "file" })

                </div>

                <button type="submit">Spara</button>
                <button onclick="location.href='@Url.Action("Index", "UserProfile")';return false;">Avbryt</button>
            }
        </div>
    </div>
</div>