@model finder_ui.Models.GetProfileViewModel

@{
    ViewBag.Title = "Index";
}


<h2>Min Profil</h2>

<button onclick="location.href='@Url.Action("EditProfile", "UserProfile")';return false;">Redigera Profil</button>

<table class="table">
    <tr>
        <th>Användarnamn</th>
        <td>@Html.DisplayFor(m => Model.Username) Användarnamn</td>
    <tr>
    <tr>
        <th>Förnamn</th>
        <td>@Html.DisplayFor(m => Model.Name) asd</td>
    </tr>
    <tr>
        <th>Efternamn</th>
        <td>@Html.DisplayFor(m => Model.Surname) asd</td>
    </tr>
    <tr>
        <th>Personnummer</th>
        <td>@Html.DisplayFor(m => Model.PersonalCodeNumber) asd</td>
    </tr>
    <tr>
        <th>Adress</th>
        <td>@Html.DisplayFor(m => Model.Address) asd</td>
    </tr>
    <tr>
        <th>Stad</th>
        <td>@Html.DisplayFor(m => Model.City) asd</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Html.DisplayFor(m => Model.Email) asd</td>
    </tr>
    <tr>
        <th>Bild</th>
        <td>@Html.DisplayFor(m => Model.Picture) asd</td>
    </tr>
</table>

<button onclick="location.href='@Url.Action("Index", "UserProfile")';return false;">Mina Annonser</button>