
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Finder</title>
    <LINK REL="SHORTCUT ICON"
          HREF="~/Content/Images/findericon.png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="header">
        <img alt="Finder" src="//i.imgur.com/YHlSO2T.png" style="max-width: 100% ;
         min-height: 53px ; cursor:pointer" onclick="window.location = '/';" />
        @using (Html.BeginForm("Searching", "Home", FormMethod.Post))
        {
            <input type="text" placeholder="  Search..">
            <input type="submit" value="Search" />
        }

        <div class="dropdown">

            <span><img src="~/Content/Images/User.png" height="30">Username      </span>
            <div class="dropdown-content">

                <button class="button sign-out">Sign out</button>
            </div>


        </div>
    </div>





    <br />
    <div class="line2"> </div>
    <div class="header-bottom">



        @Html.ActionLink("Hem", "Index", "Home")
        @Html.ActionLink("Om oss", "About", "Home")
        @Html.ActionLink("Profile", "Index", "UserProfile")
        @Html.ActionLink("Messages", "Index", "Message")
        @Html.ActionLink("Skapa Konto", "Index", "Account")
        @Html.ActionLink("Help", "//", "//")


    </div>
    <div class="line2"> </div>
    <div class="container body-content">
        @RenderBody()
        <hr />



    </div>
    <div class="footer">



        <img class="logo1" src="~/Content/Images/finderlogo.png" height="90">



    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
