@model finder_ui.Models.LoginViewModel
<div class="container">
    <div class="row">
        <div class="col align-self-center">
            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="username">Användarnamn</label>
                    @Html.ValidationMessageFor(vm => vm.username)
                    @Html.TextBoxFor(vm => vm.username, new { @class = "form-control text-center", @placeholder = "Användarnamn / e-post" })
                </div>
                <div class="form-group">
                    <label for="userLastName">Lösenord</label>
                    @Html.TextBoxFor(vm => vm.userPassword, new { @class = "form-control text-center", @placeholder = "Lösenord" })
                </div>
                @Html.HiddenFor(vm => vm.Action)
                @Html.HiddenFor(vm => vm.Controller)
                <button type="submit" class="btn btn-primary">Skapa Konto</button>
            }
        </div>

    </div>
</div>

