@model IEnumerable<finder_ui.Group3ServiceReference.Service>

@{
    ViewBag.Title = "Alla annonser";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Skapa ny annons", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Titel
        </th>
        <th>
            Underkategori
        </th>
        <th>
            Kategori
        </th>
        <th>
            Skapad
        </th>
        <th>
            Använarnamn (id för tillfället)
        </th>
        <th>
            Beskrivning
        </th>
        <th>
            Startdatum
        </th>
        <th>
            Slutdatum
        </th>
        <th>
            Bild
        </th>
        <th>
            Pris
        </th>
        <th>
            Status
        </th>

        <th>
            Annonstyp
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategory.Titel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategory.ParentCategory.Titel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.Picture)" height="100" width="100"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceStatus.ServiceStatusType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceType.Name)
        </td>
        <td>
            @Html.ActionLink("Redigera", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Radera", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
